*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.logo img{
    height: 70px;
    border-right: 1px solid grey;
    padding-right: 10px;
}
nav{
    margin: 40px 0;
}
nav li a:hover{
    text-decoration: underline;
}
nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}
.banner{
    height: 500px;
    background-image: ;
    background-size: cover;
    position: relative;
}
.banner-text{
    position: absolute;
    bottom: 20px;
}
/* font montserrat */ 